/build/*
/logos/*.pdf
/latex_bachelorarbeit/bachelor*
!/latex_bachelorarbeit/bachelor_thesis_julien_caselmann.tex
!/latex_bachelorarbeit/bachelor_thesis_julien_caselmann.bib
/latex_bachelorarbeit/ideas_latex_bachelorarbeit/payoff*
!/latex_bachelorarbeit/ideas_latex_bachelorarbeit/payoff_function_ideas.tex
