/build/*
/logos/*.pdf
.DS_Store
/latex_bachelorarbeit/bachelor*
!/latex_bachelorarbeit/bachelor_thesis_julien_caselmann.tex
!/latex_bachelorarbeit/bachelor_thesis_julien_caselmann.bib
/latex_bachelorarbeit/ideas_latex_bachelorarbeit/payoff_function/*
!/latex_bachelorarbeit/ideas_latex_bachelorarbeit/payoff_function/payoff_function_ideas.tex
/latex_bachelorarbeit/ideas_latex_bachelorarbeit/deterministic_limit/*
!/latex_bachelorarbeit/ideas_latex_bachelorarbeit/deterministic_limit/deterministic_limit.tex
!/latex_bachelorarbeit/ideas_latex_bachelorarbeit/deterministic_limit/first_try.tex
!/latex_bachelorarbeit/ideas_latex_bachelorarbeit/deterministic_limit/det_lim_final.tex
/latex_bachelorarbeit/ideas_latex_bachelorarbeit/my_model/*
!/latex_bachelorarbeit/ideas_latex_bachelorarbeit/my_model/my_model.tex
!/latex_bachelorarbeit/ideas_latex_bachelorarbeit/my_model/first_try_my_model.tex
/latex_bachelorarbeit/ideas_latex_bachelorarbeit/jacobian_my_model/*
!/latex_bachelorarbeit/ideas_latex_bachelorarbeit/jacobian_my_model/jacobian_my_model.tex
!/latex_bachelorarbeit/ideas_latex_bachelorarbeit/jacobian_my_model/first_try_jacobian_my_model.tex
/latex_bachelorarbeit/ideas_latex_bachelorarbeit/stationary_points/*
!/latex_bachelorarbeit/ideas_latex_bachelorarbeit/statioinary_points/stationary_points_my_model.tex
!/latex_bachelorarbeit/ideas_latex_bachelorarbeit/statioinary_points/special_stationary_point_my_model.tex
payoff_test/*
!payoff_test/main_payoff_test.tex
!payoff_test/source_payoff_test.py 
!payoff_test/table*
