/build/*
/logos/*.pdf
.DS_Store
/latex_bachelorarbeit/bachelor*
!/latex_bachelorarbeit/bachelor_thesis_julien_caselmann.tex
!/latex_bachelorarbeit/bachelor_thesis_julien_caselmann.bib
/latex_bachelorarbeit/ideas_latex_bachelorarbeit/payoff*
!/latex_bachelorarbeit/ideas_latex_bachelorarbeit/payoff_function_ideas.tex
payoff_test/*
!payoff_test/main_payoff_test.tex
!payoff_test/source_payoff_test.py 
!payoff_test/table_payoff_test.tex
!payoff_test/table_2_payoff_test.tex
